{{#each comments}}
<div class="container-fluid bg-dark text-white d-flex flex-column justify-content-between align-items-center">
    <div class="w-100 p-3">
    {{ content }}
    </div>
    <div class="container-fluid text-light text-end">
        Created By <b>{{user.user_name}}</b> on {{ createdAt }}
    </div>
</div>

{{/each}}
