<div class="titleBox my-3 p-3 border rounded">
<h2>User Name: {{user_name}}</h2>
<p>Joined on {{formatDate data.[0].createdAt}}</p>
</div>
{{#each data as |post|}}
  {{#each posts}}
    {{> blogPost}}
  {{/each}}
{{/each}}

<a href="/newPost" type="button" class="mx-auto d-block btn btn-light">Create New Post</a>