<div class="d-flex flex-column w-80 border border-dark my-3 bg-light">
  <div
    class="container-fluid text-white d-flex flex-row justify-content-between align-items-center titleBox"
  >
    <div class="p-2 text-center entryTitle">
      <h2>Login</h2>
    </div>
  </div>
  <div class="container-fluid p-3">
    <form class="text-center" id="loginForm" data-method="login">
      <div class="mb-3 text-start">
        <label for="inputUserName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userNameInput" />
      </div>
      <div class="mb-3 text-start">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" />
      </div>
      <button type="submit" class="btn btn-dark mx-auto">Login</button>
    </form>
  </div>
  <a href="/signup" class="text-center link-dark">Signup Instead</a>
</div>