<div class="d-flex flex-column w-80 border border-dark my-3">
  <div
    class="container-fluid bg-dark text-white d-flex flex-row justify-content-between align-items-center"
  >
    <div class="p-2 text-center">
      <h2>Signup</h2>
    </div>
  </div>
  <div class="container-fluid p-3">
    <form class="text-center" id="loginForm" data-method="signup">
      <div class="mb-3 text-start">
        <label for="inputUserName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userNameInput" />
      </div>
      <div class="mb-3 text-start">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" />
      </div>
      <button type="submit" class="btn btn-dark mx-auto">Signup New User</button>
    </form>
  </div>
  <a href="/login" class="text-center link-dark">Login Instead</a>
</div>