body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategrey;
  background-image: url("/images/carbon_fibre.png");
}

#headline {
  background-color: whitesmoke;
  font-family: "Megrim", cursive;
  font-weight: bold;
  font-size: 2 rem;
  margin-top: 10px;
  color: darkslategray;
  padding: 10px 20px;
  border-radius: 10px;
}

.blogPost {
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px rgba(245, 245, 245, 0.5);
}

.titleBox {
  font-family: "Work Sans", sans-serif;
  background-color: steelblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(70, 130, 180, 0.5);
}

.entryTitle {
  color: white;
}

.entryInfo {
  font-size: 0.85rem;
}
.commentSection {
  border-top: 1px solid black;
  background-color: whitesmoke;
}
